/*These are elements*/
body
  {
    margin: 0;
    padding: 0;
    background-color: grey;
  }
#inner-background
  {
    background: black;
  }

section li
  {
    list-style: none;
  }

a:link, a:visited
  {
    text-decoration: none;
    background-color: grey;
    border: 3px solid green;
    color: black;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
  }

a:hover, a:active
  {
    background-color: black;
    color: green;
  }
p
  {
    color: grey;
    font-size: 14px;
    width: 300px;
    height: 100px;
    text-align: center;
  }

div
  {
    color: grey;
    font-size: 20px;
    width: 500px;
  }

h1
  {
    color: purple;
    font-size: 50px;
    text-align: center;
  }

h2
  {
    color: blue;
    font-size: 36px;
    text-align: center;
  }

h3
  {
    color: green;
    font-size: 28px;
    text-align: left;
  }

.center
  {
    margin: auto;
    width: 300px;
    border: 3px solid grey;
    padding: 10px;
  }

/*This is a class*/
.blue
  {
    color: blue;
  }

/*id Selector*/
#list
  {
    color: blue;
  }
